<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>loginuser</display-name>
    <servlet-name>loginuser</servlet-name>
    <servlet-class>userServlat.loginuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginuser</servlet-name>
    <url-pattern>/loginuser</url-pattern>
  </servlet-mapping>
  <display-name>onlinespareparts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logoutuser</display-name>
    <servlet-name>logoutuser</servlet-name>
    <servlet-class>userServlat.logoutuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutuser</servlet-name>
    <url-pattern>/logoutuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileuser</display-name>
    <servlet-name>profileuser</servlet-name>
    <servlet-class>userServlat.profileuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileuser</servlet-name>
    <url-pattern>/profileuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateuser</display-name>
    <servlet-name>updateuser</servlet-name>
    <servlet-class>userServlat.updateuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beforeupdateuser</display-name>
    <servlet-name>beforeupdateuser</servlet-name>
    <servlet-class>userServlat.beforeupdateuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beforeupdateuser</servlet-name>
    <url-pattern>/beforeupdateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuser</display-name>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>userServlat.deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeruser</display-name>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>userServlat.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addproduct</display-name>
    <servlet-name>addproduct</servlet-name>
    <servlet-class>userServlat.addproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproduct</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeservlat</display-name>
    <servlet-name>homeservlat</servlet-name>
    <servlet-class>homeServlat.homeservlat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeservlat</servlet-name>
    <url-pattern>/homeservlat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productdetails</display-name>
    <servlet-name>productdetails</servlet-name>
    <servlet-class>homeServlat.productdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productdetails</servlet-name>
    <url-pattern>/productdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productDetails</display-name>
    <servlet-name>productDetails</servlet-name>
    <servlet-class>homeServlat.productDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDetails</servlet-name>
    <url-pattern>/productDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>orderproduct.cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>Seller.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>Seller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeUpdateProduct</display-name>
    <servlet-name>BeforeUpdateProduct</servlet-name>
    <servlet-class>Seller.BeforeUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeUpdateProduct</servlet-name>
    <url-pattern>/BeforeUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>Seller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlat</display-name>
    <servlet-name>AddToCartServlat</servlet-name>
    <servlet-class>orderproduct.AddToCartServlat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlat</servlet-name>
    <url-pattern>/AddToCartServlat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectServlat</display-name>
    <servlet-name>selectServlat</servlet-name>
    <servlet-class>orderproduct.selectServlat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectServlat</servlet-name>
    <url-pattern>/selectServlat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlat</display-name>
    <servlet-name>DeleteCartServlat</servlet-name>
    <servlet-class>orderproduct.DeleteCartServlat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlat</servlet-name>
    <url-pattern>/DeleteCartServlat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>placeOrder</display-name>
    <servlet-name>placeOrder</servlet-name>
    <servlet-class>orderproduct.placeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeOrder</servlet-name>
    <url-pattern>/placeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>placeOrders</display-name>
    <servlet-name>placeOrders</servlet-name>
    <servlet-class>orderproduct.placeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeOrders</servlet-name>
    <url-pattern>/placeOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>orderproduct.order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirm</display-name>
    <servlet-name>confirm</servlet-name>
    <servlet-class>orderproduct.confirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirm</servlet-name>
    <url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>orderproduct.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersProduct</display-name>
    <servlet-name>OrdersProduct</servlet-name>
    <servlet-class>orderproduct.OrdersProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersProduct</servlet-name>
    <url-pattern>/OrdersProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>card</display-name>
    <servlet-name>card</servlet-name>
    <servlet-class>orderproduct.card</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>card</servlet-name>
    <url-pattern>/card</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrders</display-name>
    <servlet-name>DeleteOrders</servlet-name>
    <servlet-class>orderproduct.DeleteOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrders</servlet-name>
    <url-pattern>/DeleteOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardUpdate</display-name>
    <servlet-name>CardUpdate</servlet-name>
    <servlet-class>orderproduct.CardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardUpdate</servlet-name>
    <url-pattern>/CardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeCardUpdate</display-name>
    <servlet-name>BeforeCardUpdate</servlet-name>
    <servlet-class>orderproduct.BeforeCardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeCardUpdate</servlet-name>
    <url-pattern>/BeforeCardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePayment</display-name>
    <servlet-name>DeletePayment</servlet-name>
    <servlet-class>orderproduct.DeletePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePayment</servlet-name>
    <url-pattern>/DeletePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>Admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerType</display-name>
    <servlet-name>UpdateCustomerType</servlet-name>
    <servlet-class>Admin.UpdateCustomerType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerType</servlet-name>
    <url-pattern>/UpdateCustomerType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>Admin.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersDetails</display-name>
    <servlet-name>OrdersDetails</servlet-name>
    <servlet-class>Seller.OrdersDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersDetails</servlet-name>
    <url-pattern>/OrdersDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetails</display-name>
    <servlet-name>OrderDetails</servlet-name>
    <servlet-class>Seller.OrdersDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetails</servlet-name>
    <url-pattern>/OrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderedDetails</display-name>
    <servlet-name>OrderedDetails</servlet-name>
    <servlet-class>Seller.OrderedDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderedDetails</servlet-name>
    <url-pattern>/OrderedDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectUser</display-name>
    <servlet-name>selectUser</servlet-name>
    <servlet-class>Admin.selectUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectUser</servlet-name>
    <url-pattern>/selectUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitSuggestion</display-name>
    <servlet-name>submitSuggestion</servlet-name>
    <servlet-class>suggestion.submitSuggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitSuggestion</servlet-name>
    <url-pattern>/submitSuggestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suggestionDetails</display-name>
    <servlet-name>suggestionDetails</servlet-name>
    <servlet-class>suggestion.suggestionDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suggestionDetails</servlet-name>
    <url-pattern>/suggestionDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSuggestion</display-name>
    <servlet-name>DeleteSuggestion</servlet-name>
    <servlet-class>suggestion.DeleteSuggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSuggestion</servlet-name>
    <url-pattern>/DeleteSuggestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSuggestion</display-name>
    <servlet-name>UpdateSuggestion</servlet-name>
    <servlet-class>suggestion.UpdateSuggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSuggestion</servlet-name>
    <url-pattern>/UpdateSuggestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeUpdateSuggestion</display-name>
    <servlet-name>BeforeUpdateSuggestion</servlet-name>
    <servlet-class>suggestion.BeforeUpdateSuggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeUpdateSuggestion</servlet-name>
    <url-pattern>/BeforeUpdateSuggestion</url-pattern>
  </servlet-mapping>
</web-app>